# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @afrittoli @abayer @dibyom @enarha @vdemeester @aThorp96 @khrm @pritidesai @twoGiants @waveywaves @wlynch @chmouel @theakshaypant @savitaashture @zakisk @divyansh42 @pratap0007 @vinamra28 @AlanGreene @briangleeson @LyndseyBu @anithapriyanatarajan @jkhelil @lcarva @PuneetPunamiya @mbpavan @pramodbindal 
